<a href="https://colab.research.google.com/github/Shubham-1-cell/Crime_Mapping_And_Prediction/blob/main/Crime_Model2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install chart_studio

Requirement already satisfied: chart_studio in c:\users\sks4u\appdata\local\programs\python\python39\lib\site-packages (1.1.0)
Requirement already satisfied: six in c:\users\sks4u\appdata\local\programs\python\python39\lib\site-packages (from chart_studio) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in c:\users\sks4u\appdata\local\programs\python\python39\lib\site-packages (from chart_studio) (1.3.3)
Requirement already satisfied: plotly in c:\users\sks4u\appdata\local\programs\python\python39\lib\site-packages (from chart_studio) (5.1.0)
Requirement already satisfied: requests in c:\users\sks4u\appdata\local\programs\python\python39\lib\site-packages (from chart_studio) (2.25.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\sks4u\appdata\local\programs\python\python39\lib\site-packages (from plotly->chart_studio) (8.0.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sks4u\appdata\local\programs\python\python39\lib\site-packages (from requests->chart_studio) (2021.5.30)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\sks4u\appdata\local\programs\python\python39\lib\site-packages (from requests->chart_studio) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sks4u\appdata\local\programs\python\python39\lib\site-packages (from requests->chart_studio) (1.26.6)
Requirement already satisfied: idna<3,>=2.5 in c:\users\sks4u\appdata\local\programs\python\python39\lib\site-packages (from requests->chart_studio) (2.10)

In [3]:
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestRegressor 
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import (mean_absolute_error,r2_score) 
from sklearn.tree import DecisionTreeRegressor 
from keras.models import Sequential 
from keras.layers import Dense 
from keras.layers import Dropout 
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV 
import numpy as np 
import keras 
import pandas as pd 
import chart_studio.plotly as py 
import plotly.figure_factory as ff 
from  plotly.offline import download_plotlyjs, init_notebook_mode,plot,iplot 
import plotly.graph_objs as go 
import time 
import numpy as np 
from chart_studio.grid_objs import Grid, Column 
import cufflinks as cf
cf.go_offline() 
init_notebook_mode(connected=True) 
def configure_plotly_browser_state():
  import IPython
  display(IPython.core.display.HTML('''
        <script src="/static/components/requirejs/require.js"></script>
        <script>
          requirejs.config({
            paths: {
              base: '/static/base',
              plotly: 'https://cdn.plot.ly/plotly-latest.min.js?noext',
            },
          });
        </script>
        '''))

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Crime Mapping & Prediction/second.csv')
df.head()

       States/UTs  ... Persons Discharged by Court_Total
0  Andhra Pradesh  ...                                 0
1  Andhra Pradesh  ...                                 0
2  Andhra Pradesh  ...                                 0
3  Andhra Pradesh  ...                                 0
4  Andhra Pradesh  ...                                 0

[5 rows x 57 columns]

In [ ]:
#remove columns 
df.drop(['States/UTs','Crime Head','Year'],inplace=True,axis=1)
#target columns *we are predicting how many convicted males and females are there by court using all other df.columns,
y=df[['Persons convicted_Male','Persons convicted_Female']]
#remove the prediction columns from dataframe
x=df.drop(['Persons convicted_Male','Persons convicted_Female','Persons convicted_Total'],axis=1)
x.drop(['Persons Discharged by Court_Male','Persons Discharged by Court_Female','Persons Discharged by Court_Total'],inplace=True,axis=1) 
#x.columns are the columns we use to predict the convictions 
x.head()

   Persons in custody during inv stage at beginning of Year_Male  ...  Persons acquitted_Total
0                                                  1              ...                       30
1                                                  0              ...                        1
2                                                 21              ...                      223
3                                                  0              ...                       62
4                                                  0              ...                        8

[5 rows x 48 columns]

In [ ]:
#we need testing data 
#splitting the dataset so that we can give our model new data and get new prediction just like getting new data from govt 
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1)

In [ ]:
#Random Forest Algorithm 
rf=RandomForestRegressor() 
rf.fit(x_train,y_train) 
y_preds=rf.predict(x_test) 
#r2 score is used to evaluate and judge the model 
#error rate is moderate as given very less data 
#error will decrease as more data is acquired 
print("MAE :",mean_absolute_error(y_test,y_preds)) 
print("R-squared score" , r2_score(y_test,y_preds))

MAE : 3.441921182266009
R-squared score 0.8305347735361622

In [ ]:
#comparing different algorithms 
#linear regression 
lr=LinearRegression() 
lr.fit(x_train,y_train) 
y_preds=lr.predict(x_test) 
print("MSE :",mean_absolute_error(y_test,y_preds)) 
print("R-squared score" , r2_score(y_test,y_preds)) 
#this means that our model can define varience in the data upto 938

MSE : 0.48616342574548227
R-squared score 0.9993855123938052

In [ ]:
#Decision Tree Regressor 
dtc = DecisionTreeRegressor(random_state=3) 
dtc.fit(x_train,y_train) 
y_preds=dtc.predict(x_test) 
print("MSE:",mean_absolute_error(y_test,y_preds)) 
print("R-squared score" , r2_score(y_test,y_preds))

MSE: 2.1527093596059115
R-squared score 0.6473073308701605